.logo-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title {
  color: #f29b3b;
  font-size: 1.8em;
  line-height: 0;
  letter-spacing: 0.5px;
}

.logo-title span {
  display: block;
}

@media screen and (max-width: 500px) {
  .logo-title {
    font-size: 1.2em;
  }
}
