.logo-container {
  margin-top: 2em;
  margin-bottom: 1.35em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title {
  color: #f29b3b;
  font-size: 1.8em;
  line-height: 0;
  letter-spacing: 0.5px;
  text-shadow: 2px 1px 2px #7c7c7c;
}

.logo-title span {
  display: block;
}

@media screen and (max-width: 767px) {
  .logo-title {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 500px) {
  .logo-container {
    margin-top: 0.5em;
    margin-bottom: 0.8em;
  }
  .logo-title {
    font-size: 0.7em;
  }
}
