.link {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #f29b3b;
  font-weight: bold;
  position: relative;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.35s ease-out;
}

.link:hover {
  color: #313131;
}

.link:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #f29b3b;
  position: absolute;
  left: 0;
  top: 17px;
  z-index: 1;
  transition: all 0.35s ease-out;
}

.link:hover::after {
  width: 0;
  background: #313131;
}

@media screen and (max-width: 767px) {
  .link:after {
    display: none;
  }
}

@keyframes introMainLink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
