.link {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #f29b3b;
  font-weight: bold;
  position: relative;
  font-size: 0.85em;
  transition: color 0.35s ease-out;
  margin-top: 15px;
}

.link:hover {
  color: #313131;
}

.link:after {
  content: "";
  height: 1px;
  width: 100%;
  background: #f29b3b;
  position: absolute;
  left: 0;
  top: 15px;
  z-index: 1;
  transition: all 0.35s ease-out;
}

.link:hover::after {
  width: 0;
  background: #313131;
}

.mainScreen-container .link {
  position: absolute;
  bottom: 15px;
  opacity: 0;
  animation: introTitle 0.35s linear 0.5s forwards;
}

@media screen and (max-width: 1440px) {
  .mainScreen-container .link {
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .mainScreen-container .link {
    position: initial;
  }
  .link:after {
    display: none;
  }
}

@keyframes introMainLink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
