.description {
  max-height: 170px;
  overflow-y: auto;
  padding-right: 20px;
}

@media screen and (max-width: 1440px) {
  .description {
    max-height: 190px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .description {
    max-height: initial;
    margin-bottom: 0;
  }
}
